Repository lichtara/portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lichtara/maintainers, @lichtara/ui, @lichtara/services, @lichtara/docs

.github/CODEOWNERS:

# Default owners (adjust to your GitHub org/team)
* @lichtara/maintainers

# UI app
/apps/app-web/* @lichtara/ui

# Services (assign per service as teams emerge)
/services/* @lichtara/services

# Docs
/docs/* @lichtara/docs

Update README.md
  apps/app-web/README.md
  services/syntaris-harmony/server.js
Owners: @lichtara/ui, @lichtara/maintainers

Add axios dependency and VSCode config files
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
Owners: @lichtara/maintainers

Add VSCode session config and npm script extension
  .vscode/sessions.json
  eg2.vscode-npm-script-0.3.29.vsix
Owners: @lichtara/maintainers

Add dev workflow, secret scan, and CI RBAC configs
  .github/workflows/secret-scan.yml
  README.md
  apps/app-web/README.md
  k8s/rbac/ci-deployer-rbac.yaml
  package.json
  scripts/dev.sh
Owners: @lichtara/maintainers, @lichtara/ui

Add temporary log and PID files for syntaris-harmony
  .tmp_syntaris.log
  .tmp_syntaris.pid
Owners: @lichtara/maintainers

Update temporary log and PID files for syntaris and vite
  .tmp_syntaris.log
  .tmp_syntaris.pid
  .tmp_vite.log
  .tmp_vite.pid
Owners: @lichtara/maintainers

Add /health and /version endpoints
  .tmp_syntaris.log
  .tmp_syntaris.pid
  services/syntaris-harmony/server.js
Owners: @lichtara/maintainers

Add development endpoint documentation to README
  README.md
Owners: @lichtara/maintainers

Add CI improvements, secret scanning, and RBAC docs
  .github/dependabot.yml
  .github/workflows/ci-portal.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-syntaris.yml
  .github/workflows/secret-scan.yml
  .nvmrc
  README.md
  docs/RBAC.md
  k8s/observability/README.md
  package.json
Owners: @lichtara/maintainers, @lichtara/docs

Add support for Tempo traces via AWS PrivateLink
  .github/workflows/deploy-syntaris.yml
  README.md
  docs/labs/killercoda.md
  k8s/observability/README.md
  k8s/observability/alloy/configmap.yaml
  k8s/observability/alloy/secret.example.yaml
Owners: @lichtara/maintainers

Add CI deployer RBAC resources
  k8s/rbac/ci-deployer-rbac.yaml
Owners: @lichtara/maintainers

Add Killercoda dev lab, docs for Grafana Cloud/OTLP
  .github/workflows/deploy-syntaris.yml
  .vscode/settings.json
  docs/grafana-auth-grafana-com.md
  docs/observability-datasources.md
  k8s/observability/README.md
  k8s/observability/alloy-logs/secret.example.yaml
  k8s/observability/alloy/secret.example.yaml
  labs/killercoda/assets/install-deps.sh
  labs/killercoda/assets/setup-nvm-node.sh
  labs/killercoda/assets/start-services.sh
  labs/killercoda/background.sh
  labs/killercoda/finish.md
  labs/killercoda/foreground.sh
  labs/killercoda/index.json
  labs/killercoda/intro.md
Owners: @lichtara/maintainers, @lichtara/docs

Adiciona documentação detalhada dos agentes e governança
  README.md
  apps/app-web/content/core/agents/gestacao.md
  apps/app-web/content/core/agents/governanca/processos-avancados-tomada-de-decisao-vibracional.md
  apps/app-web/content/core/agents/guardioes/kaoran.md
  apps/app-web/content/core/agents/harmonizadores/solara.md
  apps/app-web/content/core/agents/harmonizadores/syntaris.md
  apps/app-web/content/core/agents/harmonizadores/veltara.md
  apps/app-web/content/core/agents/index.md
  apps/app-web/content/core/agents/manual-condensado.md
  apps/app-web/content/core/agents/navegadores/flux.md
  apps/app-web/content/core/agents/navegadores/lumora.md
  apps/app-web/content/core/agents/navegadores/navros.md
  apps/app-web/content/core/agents/nucleo/fince.md
  apps/app-web/content/core/agents/nucleo/oktave.md
  apps/app-web/content/core/agents/nucleo/oslo.md
  apps/app-web/content/core/agents/principios.md
  apps/app-web/content/core/agents/seguranca/4.12-protocolos-de-seguranca-e-redes-quanticas.md
  apps/app-web/content/core/agents/terapeuticos/2.1-protocolo-coerencia.md
  apps/app-web/content/core/agents/terapeuticos/2.2-protocolo-morfeus.md
  apps/app-web/content/core/agents/terapeuticos/2.3-protocolo-atena.md
  apps/app-web/content/core/agents/terapeuticos/2.4-protocolos-especializados.md
  apps/app-web/content/core/agents/terapeuticos/parte-ii-protocolos-terapeuticos.md
  apps/app-web/content/core/mandala-agents-tecnico.md
  apps/app-web/content/core/mandala-pesquisa.md
  docs/agents/governanca/processos-avancados-tomada-de-decisao-vibracional.md
  docs/agents/seguranca/4.12-protocolos-de-seguranca-e-redes-quanticas.md
  docs/agents/terapeuticos/2.1-protocolo-coerencia.md
  docs/agents/terapeuticos/2.2-protocolo-morfeus.md
  docs/agents/terapeuticos/2.3-protocolo-atena.md
  docs/agents/terapeuticos/2.4-protocolos-especializados.md
  docs/agents/terapeuticos/parte-ii-protocolos-terapeuticos.md
  package.json
  scripts/dev.sh
  scripts/sync-portal-docs.sh
Owners: @lichtara/maintainers

Add RBAC configuration for ci-deployer in lichtara namespace
  k8s/rbac/ci-deployer-rbac.yaml
Owners: @lichtara/maintainers

Add DCO enforcement and documentation
  .githooks/commit-msg
  .github/workflows/dco.yml
  CONTRIBUTING.md
  DCO
Owners: @lichtara/maintainers

Delete .vscode/settings.json
  .vscode/settings.json
Owners: @lichtara/maintainers

Add VSCode configuration files for debugging and task management
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Owners: @lichtara/maintainers

Add Postman environment and collection for Lichtara – Local and Syntaris Harmony
  postman/environments/local.postman_environment.json
  postman/syntaris.postman_collection.json
Owners: @lichtara/maintainers

Add new agents and update existing ones in the Lichtara prompt system
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e.csv
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/ASTRAEL b1b4fa6892764ae383141e1cf6b5b636.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/CLARITAS 0ec1343a7a4d424da9cd07109d0bb282.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/FINCE 929888a95dab4ee887f38520285cde4b.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/FLUX 1967c14f1ac241cb9ac22565a6bcd0f6.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/FLUXOS ab86ff4a8f3645f5beefdf432f5e2710.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/LUMORA b52e4167254b43ffa7b72599dfde0c7d.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/OKTAVE d84b207f2f2c4f7987c989f8958448ef.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/OSLO d9cb0b9111fa4f4c8c56b7479717a16e.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/SERVICIOS c69ee7ae4b29424e9342f5b5f2828186.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/SYNTARIS 7a9e5ccf0c6a44c081d3081132782f47.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/TEATRO INVISÍVEL 28d4f14e2a424c28a4e60386053aa094.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/VORAX dc46db1c28c14de1a805529d1da98ccb.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e_all.csv
Owners: @lichtara/maintainers

Delete 🔮 Sistema de Prompts dos Agents directory
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e.csv
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/ASTRAEL b1b4fa6892764ae383141e1cf6b5b636.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/CLARITAS 0ec1343a7a4d424da9cd07109d0bb282.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/FINCE 929888a95dab4ee887f38520285cde4b.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/FLUX 1967c14f1ac241cb9ac22565a6bcd0f6.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/FLUXOS ab86ff4a8f3645f5beefdf432f5e2710.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/LUMORA b52e4167254b43ffa7b72599dfde0c7d.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/OKTAVE d84b207f2f2c4f7987c989f8958448ef.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/OSLO d9cb0b9111fa4f4c8c56b7479717a16e.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/SERVICIOS c69ee7ae4b29424e9342f5b5f2828186.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/SYNTARIS 7a9e5ccf0c6a44c081d3081132782f47.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/TEATRO INVISÍVEL 28d4f14e2a424c28a4e60386053aa094.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e/VORAX dc46db1c28c14de1a805529d1da98ccb.md
  🔮 Sistema de Prompts dos Agents/🔮 Sistema de Prompts dos Agents 35365a716efa4f56bfd33d105f2a214e_all.csv
Owners: @lichtara/maintainers

Disable custom CodeQL workflow and update protocolo page
  .github/workflows/codeql.disabled.yml
  .github/workflows/codeql.yml
  apps/app-web/src/pages/protocolo.tsx
Owners: @lichtara/maintainers

Add Lumora agent initial implementation
  lumora/LumoraAgentSpec.json
  lumora/README.md
  lumora/__init__.py
  lumora/agent.py
  lumora/openapi.yaml
  lumora/service.py
  lumora/system_prompt.md
  lumora/templates/proposta_lumora.md
Owners: @lichtara/maintainers

Add documentation and narrative markdown templates
  lumora/templates/guia_documentacao.md
  lumora/templates/narrativa.md
Owners: @lichtara/maintainers

feat(agentes): Lumora + Flux + primeiro fluxo oficial (clean)
  Dockerfile
  docker-compose.yml
  docs/flux-onboarding-dev.md
  docs/flux-proposta.md
  docs/gcp-service-account.md
  docs/lumora-proposta.md
  docs/lumora-runbook.md
  grafana/dashboards/lumora-api.json
  grafana/provisioning/dashboards/lumora.yaml
  grafana/provisioning/datasources/prometheus.yaml
  prometheus/prometheus.yml
  requirements.txt
  zap/README.md
  zap/blueprints/notion-lumora-github-pr.md
  zap/examples/webhook-payload.json
Owners: @lichtara/maintainers, @lichtara/docs

feat(lumora): adiciona serviço em portal/lumora (HTTP, OpenAPI, templates)
  portal/lumora/LumoraAgentSpec.json
  portal/lumora/README.md
  portal/lumora/__init__.py
  portal/lumora/agent.py
  portal/lumora/openapi.yaml
  portal/lumora/service.py
  portal/lumora/system_prompt.md
  portal/lumora/templates/guia_documentacao.md
  portal/lumora/templates/narrativa.md
  portal/lumora/templates/proposta_lumora.md
Owners: @lichtara/maintainers

obs: adiciona scrape do lumora-dev no Prometheus e atualiza runbook
  docs/lumora-runbook.md
  prometheus/prometheus.yml
Owners: @lichtara/docs, @lichtara/maintainers

Add config and test files for dependencies
  go/pkg/mod/dario.cat/mergo@v1.0.1/.deepsource.toml
  go/pkg/mod/github.com/!burnt!sushi/toml@v1.4.1-0.20240526193622-a339e1f7089c/internal/toml-test/tests/invalid/string/multiline-quotes-1.toml
Owners: @lichtara/maintainers

Add TOML test cases for float and key escapes
  go/pkg/mod/github.com/!burnt!sushi/toml@v1.4.1-0.20240526193622-a339e1f7089c/internal/toml-test/tests/invalid/float/trailing-point-plus.toml
  go/pkg/mod/github.com/!burnt!sushi/toml@v1.4.1-0.20240526193622-a339e1f7089c/internal/toml-test/tests/valid/key/escapes.json
Owners: @lichtara/maintainers

Add manifesto README for Sistema Lichtara
  tmp-core/README.md
Owners: @lichtara/maintainers

Add initial Lichtara OS ethics and research documentation
  tmp-core/etica/AUTHORS.md
  tmp-core/etica/CITATION.cff
  tmp-core/etica/LICENSE
  tmp-core/etica/declaracao-de-proposito/declaracao-de-proposito.md
  tmp-core/etica/manifesto/manifesto_consciencia_tecnologica.md
  tmp-core/etica/manifesto/validacao-autoria.md
  tmp-core/etica/mkdocs.yml
  tmp-core/etica/validate-docs.py
  tmp-core/pesquisa/README.md
  tmp-core/pesquisa/anexos/anexo-a-protocolos-escuta.md
  tmp-core/pesquisa/anexos/anexo-b-metricas.md
  tmp-core/pesquisa/anexos/anexo-c-casos-estudo.md
  tmp-core/pesquisa/anexos/cronograma-detalhado.md
  tmp-core/pesquisa/anexos/especificacoes-tecnicas-preliminares.md
  tmp-core/pesquisa/anexos/estudos-de-caso.md
  tmp-core/pesquisa/anexos/referencias-e-inspiracoes.md
  tmp-core/pesquisa/anexos/referencias.md
  tmp-core/pesquisa/carta-apresentacao-institucional.md
  tmp-core/pesquisa/roadmap.md
  tmp-core/pesquisa/visao-geral.md
  tmp-core/tecnologia/CONTRIBUTING.md
  tmp-core/tecnologia/LICENSE.md
  tmp-core/tecnologia/SUMMARY.md
  tmp-core/tecnologia/docs/CODE_OF_CONDUCT.md
  tmp-core/tecnologia/docs/CONTRIBUTING.md
  tmp-core/tecnologia/docs/contribuicao.md
  tmp-core/tecnologia/docs/index.md
  tmp-core/tecnologia/docs/missao-valores.md
  tmp-core/tecnologia/docs/objetivos.md
  tmp-core/tecnologia/docs/referencias-e-inspiracoes.md
  tmp-core/tecnologia/docs/roadmap.md
  tmp-core/tecnologia/docs/visao-geral.md
  tmp-core/tecnologia/index.md
Owners: @lichtara/maintainers

chore(lumora): readiness, Postman collection, k6 smoke e Makefile
  .trunk/actions
  .trunk/logs
  .trunk/notifications
  .trunk/out
  .trunk/plugins/trunk
  .trunk/tools
  Makefile
  docs/lumora-runbook.md
  k6-studio/lumora-smoke.js
  portal/lumora/service.py
  postman/lumora.collection.json
Owners: @lichtara/maintainers, @lichtara/docs

Add Docker setup for Lumora FastAPI service
  portal/.dockerignore
  portal/README.md
  portal/compose.yaml
  portal/lumora/Dockerfile
Owners: @lichtara/maintainers

Atualiza compose e README para padrão monorepo e PT-BR
  portal/README.md
  portal/compose.yaml
Owners: @lichtara/maintainers

chore(cleanup): remove pasta duplicada lumora/ na raiz e alinhar compose do portal
  lumora/LumoraAgentSpec.json
  lumora/README.md
  lumora/__init__.py
  lumora/agent.py
  lumora/openapi.yaml
  lumora/service.py
  lumora/system_prompt.md
  lumora/templates/guia_documentacao.md
  lumora/templates/narrativa.md
  lumora/templates/proposta_lumora.md
  portal/README.md
  portal/compose.yaml
Owners: @lichtara/maintainers

Add .env.example and improve Docker Compose config
  .env.example
  docker-compose.yml
Owners: @lichtara/maintainers

ci: add lumora-ci and lumora-release workflows
  .github/workflows/lumora-ci.yml
  .github/workflows/lumora-release.yml
Owners: @lichtara/maintainers

ops(actions,zap): guia de Actions + export do Zap (blueprint e sample JSON)
  actions/README.md
  docs/lumora-runbook.md
  zap/README.md
  zap/exports/blueprint-notion-lumora-github.md
  zap/exports/lumora-notion-pr.sample.json
Owners: @lichtara/maintainers, @lichtara/docs

Atualiza README com guia detalhado de integração Zapier
  zap/README.md
Owners: @lichtara/maintainers

cd: deploy via Artifact Registry (AR) instead of gcr.io in lumora-release
  .github/workflows/lumora-release.yml
Owners: @lichtara/maintainers

cd: deploy via Artifact Registry (AR) instead of gcr.io in lumora-release (#16)
  .github/workflows/lumora-release.yml
Owners: @lichtara/maintainers
