Repository lichtara/portal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lichtara/maintainers, @lichtara/ui, @lichtara/services, @lichtara/docs

.github/CODEOWNERS:

# Default owners (adjust to your GitHub org/team)
* @lichtara/maintainers

# UI app
/apps/app-web/* @lichtara/ui

# Services (assign per service as teams emerge)
/services/* @lichtara/services

# Docs
/docs/* @lichtara/docs

Add documentation structure to README
  README.md
Owners: @lichtara/maintainers

Add docs for Solara and Syntaris agents
  docs/agents/harmonizadores/solara.md
  docs/agents/harmonizadores/syntaris.md
Owners: @lichtara/maintainers

Add documentation for KAORAN and VELTARA agents
  docs/agents/guardioes/kaoran.md
  docs/agents/harmonizadores/veltara.md
Owners: @lichtara/maintainers

Add Prettier and ESLint configuration to app-web
  .prettierignore
  .prettierrc.json
  apps/app-web/.eslintrc.cjs
  apps/app-web/package.json
  package.json
Owners: @lichtara/maintainers, @lichtara/ui

Add Mandala Agents overview documentation
  docs/agents/index.md
Owners: @lichtara/maintainers

Add documentation for agents and principles
  docs/agents/gestacao.md
  docs/agents/manual-condensado.md
  docs/agents/navegadores/flux.md
  docs/agents/navegadores/lumora.md
  docs/agents/navegadores/navros.md
  docs/agents/nucleo/fince.md
  docs/agents/nucleo/oktave.md
  docs/agents/nucleo/oslo.md
  docs/agents/principios.md
Owners: @lichtara/maintainers

chore: rename project to lichtara-portal and update workspaces
  .npmrc
  apps/app-web/package.json
  package-lock.json
  package.json
Owners: @lichtara/maintainers, @lichtara/ui

ci: use -w, enable lint, and fail on errors\n\nrefactor(app-web): remove explicit any, add types, and fix import order to satisfy ESLint
  .github/workflows/ci-portal.yml
  apps/app-web/src/App.tsx
  apps/app-web/src/components/MarkdownView.tsx
  apps/app-web/src/main.tsx
  apps/app-web/src/pages/docs.tsx
  apps/app-web/src/pages/mandalas.tsx
Owners: @lichtara/maintainers

Implement feature X to enhance user experience and optimize performance
  package-lock.json
Owners: @lichtara/maintainers

Add @sentry/browser v10.9.0 to dependencies
  package-lock.json
  package.json
Owners: @lichtara/maintainers

Create manual.md
  docs/manual.md
Owners: @lichtara/docs

Update TypeScript ESLint dependencies in lockfile
  package-lock.json
Owners: @lichtara/maintainers

Add Kubernetes manifests for syntaris-harmony service
  k8s/services/syntaris-harmony/deployment.yaml
  k8s/services/syntaris-harmony/service.yaml
  package-lock.json
Owners: @lichtara/maintainers

Add OpenTelemetry tracing preloader (CJS)
  services/syntaris-harmony/tracing.cjs
Owners: @lichtara/maintainers

deploy(syntaris-harmony): add Deployment/Service with probes and labels for ServiceMonitor\n\nfeat(syntaris-harmony): add OpenTelemetry auto-instrumentation (OTLP) and start:otel script
  services/syntaris-harmony/package.json
Owners: @lichtara/maintainers

Implement feature X to enhance user experience and optimize performance
  package-lock.json
Owners: @lichtara/maintainers

Add @opentelemetry/exporter-logs-otlp-http dependency
  package-lock.json
  package.json
Owners: @lichtara/maintainers

chore(syntaris-harmony): add Dockerfile and .dockerignore\n\nops(k8s): add Kustomize bases (service + observability) and top-level kustomization\nci(docker): build/push syntaris-harmony image to GHCR
  .github/workflows/build-syntaris.yml
  k8s/kustomization.yaml
  k8s/overlays/observability/kustomization.yaml
  k8s/services/syntaris-harmony/kustomization.yaml
  services/syntaris-harmony/.dockerignore
  services/syntaris-harmony/Dockerfile
Owners: @lichtara/maintainers

ops(k8s): use Kustomize image override for syntaris-harmony (neutral image in manifest)\n\ndocs: reference SYNTARIS bundle + usage for service and kustomize
  README.md
  k8s/services/syntaris-harmony/deployment.yaml
  k8s/services/syntaris-harmony/kustomization.yaml
  services/syntaris-harmony/Dockerfile
Owners: @lichtara/maintainers

deploy(syntaris-harmony): enable OTel by default via node -r tracing.cjs
  k8s/services/syntaris-harmony/deployment.yaml
Owners: @lichtara/maintainers

Delete .github/workflows/secret-scan.yml
  .github/workflows/secret-scan.yml
Owners: @lichtara/maintainers

docs+ops: add OTel secret example, optional envFrom in Deployment, and Getting Started steps
  README.md
  docs/observability-syntaris.md
  k8s/services/syntaris-harmony/deployment.yaml
  k8s/services/syntaris-harmony/otel-secret.example.yaml
Owners: @lichtara/maintainers, @lichtara/docs

ci(deploy): add GitHub Actions workflow to deploy syntaris-harmony with OTEL secret for Grafana Cloud\n\ndocs: add workflow-based deploy steps and secrets guidance
  .github/workflows/deploy-syntaris.yml
  README.md
  docs/observability-syntaris.md
Owners: @lichtara/maintainers, @lichtara/docs

Update Node and npm engine versions, add scripts
  package.json
Owners: @lichtara/maintainers

Update CI workflow and README for workspace installs
  .github/workflows/ci-portal.yml
  README.md
Owners: @lichtara/maintainers

Add Lichtara RBAC permissions package for GitHub, Grafana, and Kubernetes
  Perfil e sugestões (3).pdf
  Perfil e sugestões (4).pdf
  pacote_de_permissoes_lichtara_rbac_git_hub_grafana.md
Owners: @lichtara/maintainers

build(app-web): skip sentry plugin without CI
  apps/app-web/vite.config.ts
Owners: @lichtara/ui

docs: update .env.example with additional instructions for local setup
  apps/app-web/.env.example
Owners: @lichtara/ui

feat(app-web): improve docs viewer\n\n- Strip YAML frontmatter, set dynamic document title\n- Show breadcrumb from path and page title\n- Add Sentry debug buttons in Painel (dev only)
  apps/app-web/src/pages/mandalas.tsx
  apps/app-web/src/pages/painel.tsx
Owners: @lichtara/maintainers

feat(ci): add VITE_SENTRY_RELEASE environment variable
  .github/workflows/ci-portal.yml
Owners: @lichtara/maintainers

obs(sentry): set environment/release, allow/deny URL lists, header scrubbing; verify release in CI (best-effort)
  .github/workflows/ci-portal.yml
  apps/app-web/src/sentry.client.ts
Owners: @lichtara/maintainers

Implement feature X to enhance user experience and fix bug Y in module Z
  package-lock.json
Owners: @lichtara/maintainers

feat(deploy): add overlay input and configure Grafana Cloud secrets for Prometheus and Loki
  .github/workflows/deploy-syntaris.yml
  k8s/overlays/prod/kustomization.yaml
Owners: @lichtara/maintainers

fix(deploy): ensure PROMETHEUS_METRICS variable fallback to lowercase version
  .github/workflows/deploy-syntaris.yml
Owners: @lichtara/maintainers

feat(deploy): add clusterName input for metrics/logs/traces and update deployment environment variables
  .github/workflows/deploy-syntaris.yml
  k8s/observability/README.md
Owners: @lichtara/maintainers

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: @lichtara/maintainers

Delete .github/workflows/docker-image.yml
  .github/workflows/docker-image.yml
Owners: @lichtara/maintainers

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/ci-portal.yml
Owners: @lichtara/maintainers

feat(protocol): enhance alignment endpoint with coherence calculation and metrics
  services/syntaris-harmony/README.md
  services/syntaris-harmony/server.js
Owners: @lichtara/maintainers

feat(protocolo): add ProtocoloPage with alignment functionality and integrate syntaris proxy
  apps/app-web/.env.example
  apps/app-web/src/App.tsx
  apps/app-web/src/pages/index.tsx
  apps/app-web/src/pages/protocolo.tsx
  apps/app-web/vite.config.ts
Owners: @lichtara/ui, @lichtara/maintainers
